<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ISG-DBA-DEVOPS</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>

    <body>

<div class="container">

  <h2>ISG-DBA-DEVOPS</h2>
  <hr>
  <h4>Select the issue type you want to create</h4>
  <form action="" method="post" role="form" class="form-horizontal">
    {{ form.csrf }}

    {{ form.issue_type(class_=("radio-inline")) }}
    <br>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>

    </div>
  </form> <!--form-->


  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for message in messages %}
        {% if "Error" not in message[1]: %}
          <div class="alert alert-info">
            <strong>Success!</strong>
                <p>{{ message[1] }}</p>
          </div>
        {% endif %}

        {% if "Error" in message[1]: %}
          <strong>Error!</strong>
          <div class="alert alert-warning">
            {% for error in form.errors %}
              <p>{{ form.errors[error][0] }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

</div> <!--container-->

    </body>
</html>
