<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Jira issue logger</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>

<div class="container">

  <h2>Jira issue logger</h2>
  <form  class= "form-inline" action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <div>{{ form.name.label}} {{ form.name(class_="form-control", style="width: 200px;") }}</div>
      <br>
      <div>{{ form.email.label }} {{ form.email(class_="form-control", style="width: 200px;") }}</div>
      <br>
      <div>{{ form.summary.label }} {{ form.summary(class_="form-control", style="width: 500px") }}</div>
      <br>
      <div>{{ form.component.label }} {{ form.component(class_="form-control", style="width: 200px") }}</div>
      <br>
      <div>{{ form.priority.label }} {{ form.priority(class_="form-control", style="width: 200px") }}</div>
      <br>
      <div>{{ form.description.label }} {{ form.description(class_="form-control", style="width: 500px") }}</div>
      <br>
      <div>{{ form.severity.label }} {{ form.severity(class_="form-control", style="width: 200px") }}</div>
      <br>
    <button type="submit" class="btn btn-success">Log the issue</button>
    
    </div>
  </form>

</div>
</div>
</body>
</html>
